/*-------------------- Smartphone --------------------*/
body {
    padding: 5vh;
    /*height: 100vh;*/
    /*width: 90vw;*/
    margin: 0 auto;
    overflow: hidden;
    background-color: black;
    background-image: url("galaxy.png");
}

.cameraMosaicBody {
    padding: 5vh;
    width: 90vw;
    margin: 0 auto;
    overflow: hidden;
    background-color: black;
}

 /*
canvas {
    margin-left: -10vw;
}*/

/*---div---*/
#header {
    height: 10vh;
}

#text {
    height: 30vh;
}

#buttons {
    height: 20vh;
    padding-top: 40px;
}

#iconsContainer {
    height: 10vh;
    text-align: center;
    padding-top: 40px;
}
   
/*---texts---*/
.title {
    color: white;
    font-size: 25px;
    font-family: neutron;
    font-weight: 700;
    margin: 20px 0;
}

p {
    color: white;
    font-size: 16px; 
    font-family: montserrat;
}

/*---image---*/
.logo {
    height: 10vh;
}
   
/*---buttons classes---*/
.homeButton {
    padding: 0;
    margin-left: -10px;
    background: none;
    border: none;
    color: white;
    outline: none;
}

.whiteButton {
    width: 80%;
    height: 50px;
    line-height: 36px;
    font-family: neutron;
    font-weight: 700;
    font-size: 16px;
    background: white;
    border: 2px solid white;
    border-radius: 3px;
    color: black;
    outline: none;
    display: block;
    margin: 10px auto;
    margin-top: 0;
}

.button {
    width: 80%;
    height: 50px;
    line-height: 36px;
    font-family: neutron;
    font-weight: 700;
    font-size: 16px;
    background: black;
    border: 2px solid white;
    border-radius: 3px;
    color: white;
    outline: none;
    display: block;
    margin: 10px auto;
    margin-top: 0;
}

/*camera buttons classes*/
.cameraWhiteButton {
    width: 80%;
    height: 50px;
    line-height: 36px;
    font-family: neutron;
    font-weight: 700;
    font-size: 16px;
    background: white;
    border: 2px solid white;
    border-radius: 3px;
    color: black;
    outline: none;
    display: block;
    margin: 10px auto;
    margin-top: 0;
}

.cameraButton {
    width: 80%;
    height: 50px;
    line-height: 36px;
    font-family: neutron;
    font-weight: 700;
    font-size: 16px;
    background: black;
    border: 2px solid white;
    border-radius: 3px;
    color: white;
    outline: none;
    display: block;
    margin: 10px auto;
    margin-top: 0;
}

.iconButton {
    margin-left: 0;
    background: none;
    border: none;
    color: white;
    outline: none;
}

svg {
    width: 50px;
    height: 50px;
}

/*-------------------- Tablet --------------------*/
@media screen and (min-width: 720px) {
    body {
        padding: 5vh;
        /*width: 90vw;*/
    }
    
    canvas {
        margin-left: 1vw;
    }

    /*---div---*/
    #header {
        height: 10vh;
    }
    
    #text {
        height: auto;
        padding-top: 40px;
    }
    
    #buttons {
        height: 20vh;
        padding-top: 60px;
    }
    
    #container {
        height: auto;
    }

    #canvasContainer {
        text-align: center;
    }
    
    #iconsContainer {
        height: 10vh;
        text-align: center;
        padding-top: 40px;
    }

    /*---texts---*/
.title {
    font-size: 40px;
    margin: 25px 0;
}

p {
    font-size: 20px; 
}

    /*---buttons classes---*/
    .homeButton {
        width: 60px;
        height: 60px;
        border-radius: 3px;
    }
    
    .whiteButton {
        width: 40%;
        height: 60px;
        font-size: 25px;
        margin-top: 0;
    }
    
    .button {
        width: 40%;
        height: 60px;
        font-size: 25px;
        background: none;
        border: 3px solid white;
        border-radius: 3px;
        color: white;
        outline: none;
        margin-top: 0;
    }

    /*camera buttons classes*/
    .cameraWhiteButton {
        width: 40%;
        height: 60px;
        line-height: 36px;
        font-size: 25px;
        background: white;
        border: 3px solid white;
        border-radius: 3px;
        color: black;
        outline: none;
        margin: 10px auto;
    }

    .cameraButton {
        width: 40%;
        height: 60px;
        line-height: 36px;
        font-size: 25px;
        background: none;
        border: 3px solid white;
        border-radius: 3px;
        color: white;
        outline: none;
        margin: 0 auto;
    }

    .iconButton {
        margin: 0;
        background: none;
        border: none;
        color: white;
        outline: none;
    }

    svg {
        width: 50px;
        height: 50px;
    }
}

/*-------------------- Desktop --------------------*/
@media screen and (min-width: 1024px) {
    body {
        padding: 50px;
        width: 90vw;
        overflow: auto;
    }

    /*---div---*/
    #header {
        height: 10vh;
    }

    #text {
        height: 30vh;
        padding-top: 30px;
    }

    #container {
        width: 85vw;
        margin: 0 auto;
    }

    #buttons {
        height: 20vh;
        padding-top: 40px;
        /*margin: 20px 0;*/
        /*padding: 0;*/
    }

    #canvasContainer {
        width: 85vw;
        margin-top: 0px;
        margin-bottom: 10px;
        text-align: center;
    }

    #iconsContainer {
        height: 10vh;
        text-align: left;
    }
    
    /*---texts style---*/
    .title {
        font-size: 40px;
        margin: 10px 0;
    }

    p {
        font-size: 20px;
    }

    /*---image---*/
    .logo {
        height: 100px;
    }

    /*---buttons style---*/
    .homeButton {
        width: 60px;
        height: 60px;
        background: black;
        border-radius: 3px;
    }

    .homeButton:hover {
        border: 3px solid white;
    }
    
    .whiteButton {
        width: 35%;
        height: 60px;
        line-height: 36px;
        font-size: 25px;
        background: white;
        border: 3px solid white;
        border-radius: 3px;
        color: black;
        outline: none;
        margin: 10px 0;
        margin-top: 0;
    }

    .whiteButton:hover {
        background: black;
        color: white;
    }
    
    .button {
        width: 35%;
        height: 60px;
        line-height: 36px;
        font-size: 25px;
        background: none;
        border: 3px solid white;
        border-radius: 3px;
        color: white;
        outline: none;
        margin: 30px 0;
        margin-top: 0;
    }

    .button:hover {
        background: white;
        color: black;
    }

    /*camera buttons classes*/
    .cameraWhiteButton {
        width: 25%;
        height: 60px;
        line-height: 36px;
        font-size: 25px;
        background: white;
        border: 3px solid white;
        border-radius: 3px;
        color: black;
        outline: none;
        margin: 10px auto;
        margin-top: 0;
    }

    .cameraWhiteButton:hover {
        background: black;
        color: white;
    }

    .cameraButton {
        width: 25%;
        height: 60px;
        line-height: 36px;
        font-size: 25px;
        background: none;
        border: 3px solid white;
        border-radius: 3px;
        color: white;
        outline: none;
        margin: 10px auto;
        margin-top: 0;
    }

    .cameraButton:hover {
        background: white;
        color: black;
    }

    .iconButton {

        margin: 0;
        background: none;
        border: none;
        color: white;
        outline: none;
    }

    svg {
        width: 50px;
        height: 50px;
    }
}
